<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OXE decor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/oxedecor.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="#">Inicio</a>
            <a href="#">Productos</a>
        </nav>
        <div class="test">
            HOLA QUE TAL
        </div>
    </header>
    <main>
        <section class="hero">
            <h1>Transforma tu espacio con estilo</h1>
            <p>Conoce a nuestros productos</p>
        </section>
        <section class="products">
            <h2>Explorar</h2>
            <div class="product-list">
                <div class="product-item">
                    <img div="img" src="../images/conchas.jpeg" alt="Conchas">
                    <h3>Conchas</h3>
                </div>
                <div class="product-item">
                    <img div="img" src="../images/florero.jpeg" alt="Florero">
                    <h3>Florero</h3>
                </div>
                <div class="product-item">
                    <img div="img" src="../images/bandejas.jpeg" alt="Bandejas">
                    <h3>Bandejas</h3>
                </div>
                <div class="product-item">
                    <img div="img" src="../images/aromaticos.jpeg" alt="Aromáticos">
                    <h3>Aromáticos</h3>
                </div>
            </div>
        </section>
        <section class="about">
            <h2>Decora con estilo y elegancia</h2>
            <img div="img" src="../images/conchitas.jpeg">
            <p>En Oxe decor, nos especializamos en ofrecer una amplia gama de objetos de decoración que transformarán cualquier espacio 
                en un lugar acogedor y con estilo. Nuestro sitio web es tu destino ideal para descubrir piezas únicas, desde arte y cuadros 
                hasta iluminación y accesorios decorativos, que reflejan las últimas tendencias en diseño de interiores.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Oxe Decor</p>
    </footer>
</body>
</html>