body {
    font-family: Arial, sans-serif;
    margin: 0;
 
    background-color: #f8f8f8;
}

header {
    background-color:white;
    padding: 40px 0;
    text-align: center;
}

nav a {
    color: #d5a098;
    margin: 0 15px;
    text-decoration: none;
}
.logo{
    height: 100px;
    margin-right: 350px;
}
.car{
    height: 40px;
    margin-left: 100px;
}
.hero {
    background-image: url('../bandejas.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
    padding: 100px 20px;
    text-align: center;
}
h2, h3{
    color:#d5a098;
}

.products, .about {
    padding: 20px;
    text-align: center;
}

.product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-item {
    background-color: white;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
}
.product-item:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.product-item img {
    max-width: 100%;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    background-color: #d5a098;
    background-size: cover;
}

.about-img {
    width: 50%;
    max-width: 300px;
    margin-left: 20px; 
}

.about-text {
    width: 60%;
    text-align: left;
    margin-right: 20px;
    color: white;
}

.about a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color:white;
}


footer {
    background-color: #d5a098;
    color: white;
    padding: 10px 0;
    text-align: center;
}