<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/oxedecor.css') }}"
    />
    <title>OXE decor</title>
  </head>
  <body>
    <header>
      <nav>
        <img class="logo" src="../static/New_logo_2.png"" alt="logo" />
        <a href="{{ url_for('index') }}">Home</a>
        <a href="#">Products</a>
        <a href="{{ url_for('register') }}">Register</a>
        <a id="logo" class="logo" href="{{ url_for('index') }}">
          <img class="car" src="../static/carrito.png" alt="car" />
        </a>
      </nav>
    </header>
    <main>
      <section class="hero">
        <h1>Transform your space with style</h1>
        <p>Get to know our products</p>
      </section>
      <section class="products">
        <h2>Explore</h2>
        <div class="product-list">
          <div class="product-item">
            <img div="img" src="../static/conchitas.jpeg" alt="Conchas" />
            <h3>Conchas</h3>
          </div>
          <div class="product-item">
            <img div="img" src="../static/florero1.jpeg" alt="Florero" />
            <h3>Florero</h3>
          </div>
          <div class="product-item">
            <img div="img" src="../static/bandejas1.jpeg" alt="Bandejas" />
            <h3>Bandejas</h3>
          </div>
          <div class="product-item">
            <img div="img" src="../static/aromaticos.jpeg" alt="Aromáticos" />
            <h3>Aromáticos</h3>
          </div>
        </div>
      </section>
      <section class="about">
        <h2>Decorate with style and elegance</h2>
        <div class="about-content">
          <img class="about-img" src="../static/conchas.jpeg" alt="decorative-obj"/>
          <div class="about-text">
            <p>
             At Oxe decor, we specialize in offering a wide range of decoration objects that will transform any space into a cozy and stylish place.
              Our website is your ideal destination to discover unique pieces, from art and paintings to lighting and decorative accessories, 
             that reflect the latest trends in interior design.
            </p>
            <a href="#">Go to products</a>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <p>&copy; 2024 Oxe Decor</p>
    </footer>
  </body>
</html>
